# Add any directories, files, or patterns you don't want to be tracked by version control
.vscode
.idea
.DS_STORE
.awcache
.module-cache
.vagrant
node_modules
build
test-dist
tmp
*.log*
junit-results.xml
package-lock.json
.vs
docs
yarn-error.log
